$borderBtn:1px solid #ced4da;
$bcgBtnColor:#ebebeb;
.header{
  display: flex;
justify-content: space-between;
align-items: center
}
.select-create{
   display: flex;
justify-content: space-between;
}

.col-md-3{
  width: 150px;
  margin-right: 15px;
}
.createEventBtn{
  background-color: $bcgBtnColor ;
  border: $borderBtn;
}
.btn-light{  border: $borderBtn;
}